.grid {
  place-items: center center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  margin: 30px;
}

/* Sur téléphone */
/* @media (max-width: 699.33px) {
  .title {
    font-size: 15px;
  }

  .grid {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    margin: 30px 10px;
  }
} */

/* Sur tablette */
/* @media ((min-width: 700px) AND (max-width: 991.98px )) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
  }
} */

@media (max-width: 575px) { 
  .grid {
    grid-template-columns: 1fr;
    margin: 20px 10px 10px 10px;
  }
 }

 /* sm */
@media (min-width: 576px) { 
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
 }

/* md) */
@media (min-width: 768px) { 
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
 }

/* lg */
@media (min-width: 992px) { 
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
 }

 /* xl */
@media (min-width: 1200px) { 
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
 }
