:root {
  --primary: #2c3e50;;
  --success: #2ecc71;
  --danger: #e74c3c;
  --white: #fff;
  --gray: #eaeded;
  --darkBlue: #2c3e50;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
  --border: 1px solid #20232a;
  --border-radius: 4px;
}
