.Totale {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.TVA {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.DeliveryAddress{
  margin-top: 10px;
  margin-bottom: 10px;
}

.BillingAddress{
  margin-top: 10px;
  margin-bottom: 10px;
}

.PaymentMethod{
  margin-top: 10px;
  margin-bottom: 10px;
}