.footerContainer {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 20px 30px;
}

.footerItem {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .footerContainer {
    display: none;
  }
}
